APP_NAME="Billson's Forms"
APP_ENV=development
APP_DEBUG=true
APP_SECRET_KEY=change-this-to-a-long-random-secret

BASE_URL=http://localhost:8000
DEFAULT_TIMEZONE=Europe/London
APP_ENCRYPTION_KEY=lvrmNO5YoDl8_pLcV4H_nTpg4LS7WwO8qSkEubdg76E=
POSTGRES_DB=billsons_forms
POSTGRES_USER=billsons_forms
POSTGRES_PASSWORD=change-this-password
DATABASE_URL=postgresql+psycopg://billsons_forms:change-this-password@db:5432/billsons_forms

TRAEFIK_HOST=forms.localhost